.tablet{
    display: inline-block;
    margin-top: 40px;
    position: relative;
}
.phone{
    display: inline-block; 
    position: relative;
}
.headphone{
    display: inline-block;
    position: relative;
}
#container{
    width: 1000px;
    margin: auto;
}
.sale{
    background-color: green;
    font-weight: bold;
    position: absolute;
    right: 0;
}
.phone .sale{
    background-color: red;
}
.heart{
    position: absolute;
    color: transparent;
    bottom: 25px;
    right: 50%;
    z-index: 0;
}
.heart-2:hover{
    position: absolute;
    color: red;
    bottom: 25px;
    right: 50%;
    z-index: 1;
}